<!DOCTYPE html>
<html xmlns:th="http://http://www.thymeleaf.org">
    <head>
        <title>Marketplace - Create Listing</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 style="text-align: center">Create listing</h1>
        </div>
        <div>
            <form method="post" action="/submitlisting">
                <input type="text" name="aUserName" placeholder="User name">
                <input type="text" name="aTitle" placeholder="Enter title">
                <input type="text" name="aContent" placeholder="Enter listing content">
                <input type="text" name="aPrice" placeholder="Enter price">
                <button>Submit</button>
            </form>
        </div>
        <br>
        <div>
            <form method="get" action="/listings">
                <button>Back</button>
            </form>
        </div>
    </body>
</html>
