<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Marketplace - Update listing</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 style="text-align: center">Update listing</h1>
        </div>
        <div>
            <form method="post" action="/submitupdatedlisting">
                <input type="hidden" name="aListingID" th:value="${listing.listingID}">
                <input type="text" name="aTitle" placeholder="Enter new title">
                <input type="text" name="aContent" placeholder="Enter new content">
                <input type="text" name="aPrice" placeholder="Enter new price">
                <button>Update listing</button>
            </form>
        </div>
        <br>
        <div>
            <form method="post" action="/deletelisting">
                <input type="hidden" name="aListingID" th:value="${listing.listingID}">
                <button>Delete listing</button>
            </form>
        </div>
        <br>
        <div>
            <form method="get" action="/listings">
                <button>Back</button>
            </form>
        </div>
        
    </body>
</html>
